body {
    background-image: url('/src/client/images/Notebook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .notebook{
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 200px 200px;
  }

  .styled-textbox{
    width: 350px; 
    height: 300px; 
    margin: 10px; 
    padding: 5px; 
    border-radius: 5px;
    color: #333; 
    background-color: transparent; 
    font-family: "Lucida Handwriting", cursive; 
    overflow: hidden;
    resize: none;
  }
  #page1 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  #page2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
  }