body {
    background-image: url('../images/Room.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

#notebook {
    width: 150px; 
    height: 70px; 
    background-position: 20px 20px; 
    border: none; 
    cursor: pointer; 
    background-color: transparent;
    position: absolute; 
    top: 430px; 
    left: 610px; 
}

#wardrobe {
    width: 355px; 
    height: 450px;
    background-position: 20px 20px; 
    border: none; 
    cursor: pointer; 
    background-color: transparent;
    position: absolute; 
    top: 120px;
    left: 1050px; 
}

#logout {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    touch-action: manipulation;
}

#logout:hover{
    background-color: #fff;
}

.music-button {
    width: 100px; 
    height: 100px; 
    background-position: 20px 20px; 
    border: none;
    cursor: pointer; 
    background-color: transparent;
    position: absolute; 
    top: 430px; 
    left: 90px; 
}