body {
    background-image: url('/src/client/images/Room.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

#notebook {
    width: 150px; 
    height: 70px; 
    background-position: 20px 20px; 
    border: none; 
    cursor: pointer; 
    background-color: transparent;
    position: absolute; 
    top: 430px; 
    left: 610px; 
}

#wardrobe {
    width: 355px; 
    height: 450px;
    background-position: 20px 20px; 
    border: none; 
    cursor: pointer; 
    background-color: transparent;
    position: absolute; 
    top: 120px;
    left: 1050px; 
}
